# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Database
*.db
*.sqlite
*.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
/frontend/css/output.css
/dist/

# Lainnya
*.log
.DS_Store
.vscode/
.idea/