# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Database
database/portfolio.db

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Build tools
node_modules/
dist/
build/